name: CI

# Controls when the workflow will run
on:
  # Triggers on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  unittest:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest", "macos-latest", "windows-latest"]
        python-version: ["3.10", "3.11", "3.12"]
    steps:
      - uses: actions/checkout@v4
      - uses: mamba-org/setup-micromamba@v1
        with:
          environment-file: environment.yml
          environment-name: clouddrift
          create-args: >-
            python=${{ matrix.python-version }}
            pytest
            coverage
            matplotlib
            cartopy
      - name: Run unit tests
        shell: bash -l {0}
        run: coverage run -m pytest -c pyproject.toml
      - name: Display report
        shell: bash -l {0}
        run: coverage report
      - name: Create coverage report
        shell: bash -l {0}
        run: |
              coverage xml
      - name: Upload coverage report to Codecov
        if: matrix.os == 'ubuntu-latest' && matrix.python-version == '3.10'
        uses: codecov/codecov-action@v4
        with:
          file: ./coverage.xml
  doctest:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest"]
        python-version: ["3.10"]
    steps:
      - uses: actions/checkout@v4
      - uses: mamba-org/setup-micromamba@v1
        with:
          environment-file: environment.yml
          environment-name: clouddrift
          create-args: >-
            python=${{ matrix.python-version }}
            pytest
      - name: Run doc tests
        shell: bash -l {0}
        run: pytest --doctest-modules clouddrift/ragged.py
