name: CI

# Controls when the workflow will run
on:
  # Triggers on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  ci-pygtm:
    name: 'test'
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest"]
        python-version: ["3.9"]
    steps:
      - uses: actions/checkout@v2
      - uses: conda-incubator/setup-miniconda@v2.1.1
        with:
          activate-environment: clouddrift
          environment-file: environment.yml
          mamba-version: "*"
          channels: conda-forge
      - name: Unit testing
        shell: bash -l {0}
        run: |
              python -m unittest discover -s tests -p "*.py"
